<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prajeeth's Task Manager</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='resume/css/resume.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='form/css/form.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
  <!-- <script src="{{ url_for('static', filename='form/js/form.js') }}" defer></script> -->
  <script src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='main/js/chat.js') }}"></script> -->
  {% block extrajs %}{% endblock %}
</head>

<body>
  <article>
    <!-- The header  -->
    <header>
      <!-- imports banner image -->
      <img class="bannerimage" src="../static/main/images/banner.jpg" alt="Banner" loading="lazy"/>
    </header>

    <!-- The navigation bar -->
    <nav class="navigation">
      <!-- sets up unordered list elements -->
      <ul class="ul">
          <!-- creates flex box for the list of items. -->
          <div class="list_items">
              <!-- flex 8 pushes things to the right. -->
              <li style="flex:8"><p>Task Manager</p></li>
              {% if user != 'Unknown' %}
                <li style="flex:8"><p>Welcome {{user}}</p></li>
              {% endif %}
              <li class="links" style="flex:8"><a href="/board_type">Home</a></li>
              <!-- link class for elements makes sure they all end up on the same line in the flex box -->
              <li class="links"><a href="/chat">Chat</a></li>
              {% if user != 'Unknown' %}
                <li class="links"><a href="/logout">Logout</a></li>
              {% else %}
                <li class="links"><a href="/login">Login</a></li>
              {% endif %}
              <li>
                  <!-- menu icon for the menu bar on the navabar -->
                  <a>
                      <img class="menu-icon" id="menu_icon" style="flex:1" src="../static/main/images/menu-bar.png" alt="menu" loading="lazy"/>
                  </a>
                  <div id="pulldown" class="hidden_menu">
                    <ul class="ul">
                      <li><a href="/board_type">Home</a></li>
                      <li><a href="/chat">Chat</a></li>
                      {% if user != 'Unknown' %}
                        <li><a href="/logout">Logout</a></li>
                      {% else %}
                        <li><a href="/login">Login</a></li>
                      {% endif %}
                    </ul>
                  </div>
              </li>
          </div>
          </div>
      </ul>
    </nav>
    <!-- The main content  -->
  
    <main>
      <div class="content">
        {% block maincontent %}{% endblock %}
        <!-- The footer of the file -->
        <footer class="foot">
          <p>©Copyright Prajeeth Naliganti</p>
        </footer>
      </div>
    </main>
    </article>
  
</body>
</html>
<script> src="form.js"</script>








